<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pack1.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.pack1.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create_class</display-name>
    <servlet-name>create_class</servlet-name>
    <servlet-class>com.pack1.create_class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_class</servlet-name>
    <url-pattern>/create_class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_subject</display-name>
    <servlet-name>add_subject</servlet-name>
    <servlet-class>com.pack1.add_subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_subject</servlet-name>
    <url-pattern>/add_subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create_course</display-name>
    <servlet-name>create_course</servlet-name>
    <servlet-class>com.pack1.create_course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_course</servlet-name>
    <url-pattern>/create_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_teacher</display-name>
    <servlet-name>add_teacher</servlet-name>
    <servlet-class>com.pack1.add_teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_teacher</servlet-name>
    <url-pattern>/add_teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_student</display-name>
    <servlet-name>add_student</servlet-name>
    <servlet-class>com.pack1.add_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_student</servlet-name>
    <url-pattern>/add_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subject_ass_class</display-name>
    <servlet-name>subject_ass_class</servlet-name>
    <servlet-class>com.pack1.subject_ass_class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subject_ass_class</servlet-name>
    <url-pattern>/subject_ass_class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subject_ass_class1</display-name>
    <servlet-name>subject_ass_class1</servlet-name>
    <servlet-class>com.pack1.subject_ass_class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subject_ass_class1</servlet-name>
    <url-pattern>/subject_ass_class1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>students_list_repo</display-name>
    <servlet-name>students_list_repo</servlet-name>
    <servlet-class>com.pack1.students_list_repo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>students_list_repo</servlet-name>
    <url-pattern>/students_list_repo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subjects_list_repo</display-name>
    <servlet-name>subjects_list_repo</servlet-name>
    <servlet-class>com.pack1.subjects_list_repo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subjects_list_repo</servlet-name>
    <url-pattern>/subjects_list_repo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teachers_list_repo</display-name>
    <servlet-name>teachers_list_repo</servlet-name>
    <servlet-class>com.pack1.teachers_list_repo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teachers_list_repo</servlet-name>
    <url-pattern>/teachers_list_repo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServletSubject</display-name>
    <servlet-name>ListServletSubject</servlet-name>
    <servlet-class>com.pack1.ListServletSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServletSubject</servlet-name>
    <url-pattern>/ListServletSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_subjectassignmentclass</display-name>
    <servlet-name>add_subjectassignmentclass</servlet-name>
    <servlet-class>com.pack1.add_subjectassignmentclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_subjectassignmentclass</servlet-name>
    <url-pattern>/add_subjectassignmentclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServletTeacher</display-name>
    <servlet-name>ListServletTeacher</servlet-name>
    <servlet-class>com.pack1.ListServletTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServletTeacher</servlet-name>
    <url-pattern>/ListServletTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_teacherassignmentclass</display-name>
    <servlet-name>add_teacherassignmentclass</servlet-name>
    <servlet-class>com.pack1.add_teacherassignmentclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_teacherassignmentclass</servlet-name>
    <url-pattern>/add_teacherassignmentclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServletStudent</display-name>
    <servlet-name>ListServletStudent</servlet-name>
    <servlet-class>com.pack1.ListServletStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServletStudent</servlet-name>
    <url-pattern>/ListServletStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_studentassignmentclass</display-name>
    <servlet-name>add_studentassignmentclass</servlet-name>
    <servlet-class>com.pack1.add_studentassignmentclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_studentassignmentclass</servlet-name>
    <url-pattern>/add_studentassignmentclass</url-pattern>
  </servlet-mapping>
</web-app>